/* Custom style here */

.hello{
  outline:1px solid red;
}

html{
    height: 100%;
}

body{
  min-height: 100%;
  font-family: 'Fjalla One', sans-serif;
  background: #38555d;
  padding-top:30px;
}

.useless-sound-wrapper{

}
.page-header{
  margin-bottom:40px;
  text-align:center;
}
h1{
  color:#fff;
  display:inline-block;
  margin-bottom:0;
  background:url("../images/jukebox.png") no-repeat center;
  background-size:30px auto;
}
h1 span{
  display:inline-block;
  margin-bottom:50px;
}
@media (min-width:992px) {
  h1{
    font-size:80px;
    background:url("../images/jukebox.png") no-repeat center;
    background-size:50px auto;
  }
  h1 span{
    margin-bottom:85px;
  }
}

.btn-container{
  position:relative;
  margin-bottom:30px;
}
.btn-container:after{
  padding-top: 100%;
  display: block;
  content: '';
}

.btn-player {
  text-align: left !important;
  width: 100%;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  overflow:hidden;
  border:none;
  padding:0;
  box-shadow:0 0 5px #000;
  border-radius:8px;
  background:#000;
}

.btn-player img{
  width: 100%;
  height:100%;
  object-fit: cover;
}
.btn-player i {
  position:absolute;
  width: 100%;
  height:7.5vw;
  top: 0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
  text-align:center;
  color:#fff;
}
.btn-player i:before {
  font-size: 6vw;
}

.btn-player p{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  text-align:center;
  margin:0;
  background:#000;
  color:#fff;
  font-size:2.3vw;
  line-height:2.3vw;
  padding:1vw;
}

.btn-info:hover{
  background-color: transparent;
  border-color: transparent;
}
.btn:focus{
  box-shadow:0 0 20px #000;
}
